body{
    background: url("../images/pexels-photo-312848.jpeg");

}

.jumbotron{
    background-color: rgba(230, 218, 62, 0.596);
}
.card .card-header{
    background-color: rgba(230, 218, 62, 0.596);
}

.text-center{
    font-family: 'Oswald', sans-serif;
}